<!-- endPartial.html -->
<div>
	<h2>The auction has ended! Congratulations to the following winners:</h2>
	<div>
		<h3>Product1</h3>
		Congratulations {{winner1Info.madeByUsername}}! You've won this product for ${{winner1Info.amount}}!
	</div>
	<div>
		<h3>Product2</h3>
		Congratulations {{winner2Info.madeByUsername}}! You've won this product for ${{winner2Info.amount}}!
	</div>
	<div>
		<h3>Product3</h3>
		Congratulations {{winner3Info.madeByUsername}}! You've won this product for ${{winner3Info.amount}}!
	</div>
</div>